@import "tailwindcss";

:root {
  --color-primary: #B22222;   /* Vermelho fechado (marca) */
  --color-secondary: #1C1C1C; /* Preto suave */
  --color-bg: #F9F9F9;        /* Fundo clean */
  --color-gray: #666666;      /* Texto secundário */
  --color-accent: #C9A635;    /* Dourado elegante */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-bg);
  color: var(--color-secondary);
}

header, footer {
  background-color: var(--color-secondary);
  color: white;
  padding: 1rem;
}

button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}
